a{
    text-decoration: none;
    color: black;
}
#registration2{
    height: 500px;
    width: 500px;
    margin-left: 500px;
    background-color: chocolate;
}
.g{
    font-size: 30px;
    margin-top: 25px;
}
.h{
    font-size: 30px;
    margin-top: 25px;
}
.i{
    font-size: 30px;
    margin-top: 25px;
}
.j{
    font-size: 30px;
    margin-top: 25px;
}
.k{
    font-size: 30px;
    margin-top: 25px;
}
.l{
    font-size: 20px;
    margin-top: 15px;
}
