a{
    text-decoration: none;
    color: black;
}
#registration1{
    height: 500px;
    width: 500px;
    margin-left: 500px;
    background-color: chocolate;
}
.a{
    font-size: 30px;
    margin-top: 25px;
}
.b{
    font-size: 30px;
    margin-top: 25px;
}
.c{
    font-size: 30px;
    margin-top: 25px;
}
.d{
    font-size: 30px;
    margin-top: 25px;
}
.e{
    font-size: 30px;
    margin-top: 25px;
}
.f{
    font-size: 20px;
    margin-top: 15px;
}
