body{
    background-image: url(Library.jpg);
}
.img1{
    width:100px;
    height: 100px;
    position: absolute;
}
.img2{
    width: 100px;
    height: 100px;
    margin-left: 1365px;
    position: absolute;
}
a{
    text-decoration: none;
    color: #000;
}
.C{
    margin-left: 500px;
    height: 500px;
    width:500px;
    background-color:aqua;
}
.D{
    font-size: 50px;
    
}
.E{
    font-size: 50px;
    margin-top: 20px;
}
.F{
    font-size: 50px;
    margin-top: 20px;
}
.G{
    font-size: 50px;
    margin-top: 20px;
}
.